<div class="header-sticky">
<div id="header" class="">
  <div class="container cust-height">
<!--    <div class="container-fluid mt-2">-->
<!--    <div class="row">-->
<!--      <div class="col-sm-12">-->
        <div class="welcome-header">
          <p class="mb-0">Welcome to Educate wordpress theme</p>
        </div>
        <div class="right-bar">
          <div >
            <ul class="ul-info">
              <li><i class="fa fa-phone" style="margin: 0 10px" aria-hidden="true"></i>
                <a>99999 22222</a>
              </li>
              <li><i class="fa fa-envelope" style="margin: 0 10px" aria-hidden="true"></i>
                <a>tech@gmail.com</a>
              </li>
            </ul>
            <ul class="social-icons">
              <li class="facebook">
                <a><i class="fa fa-facebook" title="facebook" aria-hidden="true"></i></a>
              </li>
              <li class="twitter">
                <a><i class="fa fa-twitter" title="twitter" aria-hidden="true"></i></a>
              </li>
              <li class="linkedin">
                <a><i class="fa fa-linkedin" title="linkedin" aria-hidden="true"></i></a>
              </li>
              <li class="youtube">
                <a><i class="fa fa-youtube-play" title="youtube" aria-hidden="true"></i></a>
              </li>
            </ul>

          </div>
        </div>
<!--      </div>-->
<!--    </div>-->
<!--    </div>-->
  </div>
</div>
<div id="header1" class="header1 ">
      <div class="container">
        <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="main-header">
            <div id="logo" class="logo">
              <img src="assets/images/design.png" width="150px" height="50px" alt="image">
            </div>
            <div class="nav-wrap navbar navbar-expand-lg navbar-light">
              <div class="btn-menu">
                <nav id="nav-menu" class="nav-menu">
                  <ul class="menu navbar-nav mr-auto">
                    <li class="home nav-item active">
                      <a class="nav-link" href="home">HOME</a>
                    </li>
                    <li class="home nav-item">
                      <a class="nav-link" href="login">Login</a>
                    </li>
                    <li class="home nav-item">
                      <a class="nav-link" href="signup">Signup</a>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
                         aria-haspopup="true" aria-expanded="false">
                        COURSES
                      </a>
                      <ul class=" submenu dropdown-menu" aria-labelledby="navbarDropdown">
                        <li class="dropdown-item" style="border-bottom: 1px solid #81808071">JAVA</li>
                        <li class="dropdown-item" style="border-bottom: 1px solid #81808071">WEB DESIGN</li>
                        <li class="dropdown-item">PYTHON</li>
                      </ul>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link">ABOUT</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link">TEAM</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link">BLOG</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link">CONTACT</a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
  </div>
</div>
</div>
<!--<nav class="navbar navbar-expand-lg navbar-light bg-light">-->
<!--  <div class="">-->
<!--    <div class="">-->
<!--      <img src="favicon.ico" alt="image" style="padding: 0 5px">Education-->
<!--    </div>-->
<!--    <div class="">-->
<!--      <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--        <ul class="navbar-nav mr-auto">-->
<!--          <li class="nav-item active">-->
<!--            <a class="nav-link">HOME</a>-->
<!--          </li>-->
<!--          <li class="nav-item dropdown">-->
<!--            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"-->
<!--               aria-haspopup="true" aria-expanded="false">-->
<!--              COURSES-->
<!--            </a>-->
<!--            <div class="dropdown-menu" aria-labelledby="navbarDropdown">-->
<!--              <a class="dropdown-item" style="border-bottom: 1px solid #81808071">JAVA</a>-->
<!--              <a class="dropdown-item" style="border-bottom: 1px solid #81808071">WEB DESIGN</a>-->
<!--              <a class="dropdown-item" style="border-bottom: 1px solid #81808071">PYTHON</a>-->
<!--            </div>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link">ABOUT</a>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link">TEAM</a>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link">BLOG</a>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link">CONTACT</a>-->
<!--          </li>-->
<!--        </ul>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</nav>-->
