<div class="footer">
  <div class="footer-widgets">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="widget widget-text">
            <img src="assets/images/photo.jpeg" width="260px">
            <ul class="footer-ul">
              <li class="addres"><i class="fa fa-map-marker pr-2"></i>12 Kavuri Hills, Madhapur, Hyderabad</li>
              <li class="phone"><i class="fa fa-phone pr-2"></i>1234567890</li>
              <li class="email"><i class="fa fa-envelope pr-2"></i>tech@gmail.com</li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <h6 class="widget-title"> User Links</h6>
          <ul class="left-ul">
            <li><a>About Us</a></li>
            <li><a>Blog</a></li>
            <li><a>Contact</a></li>
            <li><a>Courses</a></li>
            <li><a>Events</a></li>
          </ul>
          <ul class="right-ul">
            <li><a>Become a Teacher</a></li>
            <li><a>Developer</a></li>
            <li><a>Maintenance</a></li>
            <li><a>Learn</a></li>
            <li><a>Student</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-6">
          <h6 class="widget-title">Recent Courses</h6>
        </div>
        <div class="col-md-3 col-sm-6">
          <h6 class="widget-title">Quick Contact</h6>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom">
    <div class="container">
      <ul class="flat-socials-v1">
        <li class="bottom-facebook">
          <a><i class="fa fa-facebook"></i></a>
        </li>
        <li class="bottom-twitter">
          <a><i class="fa fa-twitter"></i></a>
        </li>
        <li class="bottom-wtsapp">
          <a><i class="fa fa-whatsapp"></i></a>
        </li>
      </ul>
      <div class="row" style="border-top:2px solid ">
        <div class="container-bottom">

        </div>
      </div>
    </div>
  </div>
</div>

